<app-header></app-header>
<section class="home flex-col">
    <div class="title">
        <div class="typography__h2">Bienvenido, {{ user.nombre }} {{ user.apellido }}</div>
    </div>

    <div class="container">
        <div class="home__product-list">
            <div class="typography__h4">
                Listado de Productos
            </div>

            <div *ngFor="let product of productList | async" class="typography__body-2">
                <div class="home__product-list__item flex-row flex-centered space-between">
                    <div class="flex-col">
                        <div class="typography__hint-1">{{ product.tipo }}</div>
                        <div>{{ product.numero }}</div>
                    </div>
                    <div>{{ product.moneda }}</div>
                    <div>
                        <button mat-button (click)="openDetailDialog(product.numero)">Ver detalle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
