<div class="detail-dialog">
    <div class="typography__h2">Detalle de saldo</div>
    <div class="typography__body-2">Número de cuenta: {{ product.numero }}</div>

    <div class="detail-dialog__balance flex-col">
        <ng-container *ngFor="let key of objectKeys(balanceDetail)">
            <div *ngIf="!ignoreColumns.includes(key) && balanceDetail[key]" class="detail-dialog__balance__item flex-col">
                <div class="typography__hint-1">{{ keyMapper[key] }}</div>
                <div class="typography__body-2">{{ balanceDetail[key] | currencyFormat: product.moneda }}</div>
            </div>
        </ng-container>
    </div>
</div>