@import '../../../../../assets/styles/colors.scss';

.detail-dialog {
    &__balance {
        gap: 8px;
        margin-top: 16px;
    
        &__item {
            border: 1px solid $gray6;
            border-radius: 4px;
            padding: 8px;
        }
    }

    .skeleton-loading {
        .skeleton {
            height: 60px;
        }
    }
}