@import './assets/styles/typography.scss';
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-centered {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}