@import './assets/styles/typography.scss';
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-centered {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.w-100 {
    width: 100%;
}

.skeleton-loading {
    margin-top: 24px;
    overflow: hidden;
    position: relative;

    .skeleton-bg {
        animation: slide 1.5s infinite;
        background: linear-gradient(to right, rgba(80, 80, 80, 0.6) 0%, rgba(80, 80, 80, 0.3) 50%, rgba(80, 80, 80, 0.6) 100%);
        height: 80px;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .skeleton {
        background-color: transparent;
        border-radius: 4px;
        height: 80px;
        margin-bottom: 10px;
    }

    @keyframes slide {
        0% {
          transform: translateX(-100%);
        }

        100% {
          transform: translateX(100%);
        }
    }
}