@import './colors.scss';

.typography {
    &__h2 {
        font-size: 24px;
    }

    &__h4 {
        font-size: 20px;
    }

    &__body-2 {
        font-size: 16px;
    }

    &__body-1 {
        font-size: 14px;
    }

    &__hint-1 {
        font-size: 12px;
    }
}

.bold {
    font-weight: bold;
}